body {
    background-color: rgb(178, 93, 76) ;
    margin: 0;
}


header {
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(40, 55, 78);
    padding-inline: 2%;
}

.coverImage {
    border-radius: 50%;
    max-width: 60px;
    height: auto;
}

footer {
    margin-inline: 15px;
    margin-block: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(209, 209, 209);
    position: fixed;
    bottom:0;
    left:0;
    margin-top: 60px;
}

footer a {
    color: rgb(209, 209, 209);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


#sobre{
    color: rgb(209, 209, 209);
    margin: 20px;
}

#timer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 5%;
    padding: 2%;
    background-color: rgba(80, 150, 255, 0.842);
    border-radius: 20px;
}

#timer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 5%;
    padding: 2%;
    background-color: rgba(80, 150, 255, 0.842);
    border-radius: 20px;
}


#btntimer{
    display: flex;
    gap: 10px;
    width: 100%; 
}


.btntmp{
    flex: 1; 
    height: 50px;
    border-radius: 10px;
    background-color: rgb(206, 57, 57);
    color: black;
    border: 2px solid #000000;
    font-size: 3vh;
}

#Tempotxt{
    font-size: 8rem;
    background-color: rgba(27, 100, 209, 0.842);
    border-radius: 10px;
    margin: 20px 0; 
}

#Começar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btntmpcomecar{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(206, 57, 57);
    border: 2px solid #000000;
    font-size: 3vh;
}